name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    strategy:
      matrix:
        node-version:
          - 18.x
          - 20.x
          - 22.x

    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        name: Use Node.js ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Setup Biome
        uses: biomejs/setup-biome@c8649b3e1f1c0e92a873faffe6703560f697e9ea # v2.6.0

      - name: Install Dependencies
        run: npm ci

      - name: Check format
        run: biome ci packages

      # - name: Run Tests
      #   run: npm run test:e2e
